
body { padding-top: 70px; }

.markdown-body code {
    white-space: nowrap
}

.markdown-body pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent
}

.markdown-body .highlight pre,.markdown-body pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}

.markdown-body pre {
    word-wrap: normal
}

.markdown-body pre code,.markdown-body pre tt {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal
}
